.body-bg{
	background-image: url(../images/bg_image.jpg);
	background-position: center;
	background-repeat: repeat;
}

.header__line{
	background-color: #000;
}
.nav{
	display: flex;
	justify-content: space-between;
	padding-top: 29px;
	a{
		@include f700;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}
}
.mobile-nav{
	display: none;
}
.header__nav{
	display: flex;
	& .bottom-line{
		border-bottom: 3px solid #826550;
	}
	& li{
		padding-bottom: 25px;
	}
	& li + li {
		margin-left: 64px;
	}
}
.header__links{
	 transition: color linear 0.3s;
	&:hover{
		color: #826550;
	}
}
.header__login{
	padding-left: 33px;
	position: relative;
	a:hover{
		transition: color linear 0.3s;
		color: #826550;
	}
	&::before{
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		background-image: url(../images/icons/login_icon.png);
		position: absolute;
		left: 0;
		top: 4px;
		opacity: 0.3;
	}
}
.header__body{
	height: 648px;
	background-image: url(../images/main_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 57px;
}
.logo{
	text-align: center;
}


.advantages {
	background-color: #353535;
	// padding-top: 159px;
	padding-bottom: 64px;
	position: relative;
}
.advantages:after,
.advantages:before {
  border-bottom: 5vw solid #f8f5f2; 
  bottom: 0;
  content: "";
  position: absolute;
}
.advantages:before {
  border-right: 50vw solid transparent;
  left: 0;
}
.advantages:after {
  border-left: 50vw solid transparent;
  right: 0;
}

.advantages__inner{
	position: relative;
	padding-top: 159px;
}

.advantages__info {
	width: 100%;
	height: 318px;	
	display: flex;
	position: absolute;
	top: -159px;
}
.advantages__info-content {
	width: 320px;
	background-color: #fff;
	padding-top: 36px;
	padding-left: 40px;
	padding-right: 41px;
}
.advantages__info-title {
	@include f700;
	font-size: 40px;
  line-height: 38px;
  margin-bottom: 48px;
}
.advantages__content {
	font-size: 20px;
	line-height: 27px;
}
.advantages__info-numbers {
	display: flex;
	flex-wrap: wrap;
	width: 640px;
}
.advantages__info-cels {
		width: 50%;
		padding: 22px 0 0 37px;
		span{
			font-size: 18px;
			color: #a2a19f;
		}
		&:nth-child(1){
			background-color: #404040;
		}
		&:nth-child(2){
			background-color: #4e4e4e;
		}
		&:nth-child(3){
			background-color: #353535;
		}
		&:nth-child(4){
			background-color: #404040;
		}
}
.advantages__info-number {
		font-size: 72px;
		color: #fff;
		@include f700;
		span{
			font-size: 40px;
			color: #fff;
			transform: translateY(-21px);
    	display: inline-block;
		}
}

.advantages__items {
	display: flex;
	padding-top: 79px;
	padding-bottom: 44px;
}
.advantages__item {
	max-width: 320px;
	width: 100%;
	text-align: center;
	
}
.advantages__item-img{
	margin-bottom: 26px;
	height: 94px;
}
.advantages__item-title {
	@include f700;
	font-size: 30px;
	line-height: 22px;
	color: #f7f4f1;
	margin-bottom: 20px;
}
.advantages__item-content {
	font-size: 20px;
	line-height: 27px;
	color: #f7f4f1;
	padding: 0 43px;
}

.news {
	background-color: #f8f5f2;
	padding-top: 54px;
	padding-bottom: 46px;
	border-bottom: 1px solid #e5ddd5;
}

.headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}
.headline-text {
	@include f700;
	font-size:40px;
	text-transform: uppercase;
	color: #000000;
	margin-left: 70px;
}
.headline-btn {
	@include f700;
	background-color: transparent;
	height: 50px;
	font-size: 18px;
	font-weight: 700;border: 1px solid #e5ddd5;
	padding: 0 29px;
	cursor: pointer;
}
.news__items {
	display: flex;
}
.news__item {
	display: flex;
	max-width: 320px;
	width: 100%;
	&:hover .news__item-text{
		color: #826550;
		text-decoration: underline;
	}
	&:hover .news__item-date{
		background-color: #826550;
	}
	&:hover .news__item-date::before {
		border-top: 18px solid #826550;
	}
}
.news__item-date {
	padding-top: 9px;
	line-height: 21px;
	@include f700;
	font-size: 30px;
	margin-right: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background-color: #000;
	position: relative;
	margin-bottom: 10px;
	&::before{
		content: '';
		position: absolute;
		bottom: -18px;
    	left: 0;
    	width: 0;
    	height: 0;
    	border-left: 25px solid transparent;
    	border-right: 25px solid transparent;
    	border-top: 18px solid #000;
	}
	& :last-child {
		font-size: 20px ;
		font-size: 16px;
		display: block;
		font-weight: 400;
	}
}

.news__item-text {
	max-width: 210px;
	font-size: 18px;
	line-height: 27px;
	color: #000;	
}

.reviews {
	background-color: #f8f5f2;
	padding: 54px 0 46px;
}
.headline {
}
.headline-text {
}
.headline-btn {
}
.reviews__slider-inner{
	padding: 0 50px;
	position: relative;
}
.reviews__slider-wrapper{
	.swiper-button-next,
	.swiper-button-prev{
		width: 50px;
		height: 160px;
		border: 1px solid #e5ddd5;
		position: absolute;
		top: 0;
		cursor: pointer;
		height: 100%;
	}
	.swiper-button-prev{
		right: 0;
		&::before{
			content: '';
			width: 12px;
			height: 12px;
			background-image: url(../images/right_arrow.png);
			position: absolute;
			left: 50%;
			bottom: 50%;
			transform: translate(-50%, 50%);
		}
	}
	.swiper-button-next{
		left: 0;
		&::before{
			content: '';
			width: 12px;
			height: 12px;
			background-image: url(../images/left_arrow.png);
			position: absolute;
			left: 50%;
			bottom: 50%;
			transform: translate(-50%, 50%);
		}
	}
	.swiper-button-disabled{
		opacity: 0.5;
	}
	.swiper-pagination{
		text-align: center;
		padding-top: 42px;
	}

	.swiper-pagination-bullet{
		display: inline-block;
		transform: rotate(45deg);
		width: 10px;
		height: 10px;
		border: 1px solid #353535;
		margin: 0 23px;
		&-active{
			background-color: #353535;
		}
	}
}
.reviews__slider{
	max-width: 811px;
	
}
.reviews__slider-item {
	display: flex;
	img{
		display: block;
		border: none;
		width: 100%;
		height: 100%;
	}
}
.reviews__slider-img {
	min-width: 249px;
    max-width: 249px;
}
.reviews__slider-content {
	border: 1px solid #e5ddd5;
	padding: 35px 79px 20px 70px;
	min-height: 169px;
}
.reviews__slider-title {
	font-size: 24px;
	line-height: 27px;
	@include f700;
	margin-bottom: 10px;
}
.reviews__slider-text {
	font-size: 18px;
	line-height: 27px; 
}

.footer {
	background-color: #292929;
}
.footer__inner {
	padding: 53px 0 61px;
	display: flex;
	color: #fff;
	& > *{
		max-width: 33.333333%;
		width: 100%;
	}
}
.footer__adress {
	h3 {
		font-size: 18px;
		@include f700;
		text-transform: uppercase;
		margin-bottom: 18px;
	}
	p{
		font-size: 18px;
		line-height: 27px;
		max-width: 322px;
	}
}
.social-links {

}
.social-links__text {
	font-size: 18px;
	text-align: center;
	margin-bottom: 15px;
}
.social-links-items {
	text-align: center;
}
.social-links-item {
	width: 50px;
	height: 50px;
	border: 1px solid rgba(255,255,255, 0.1);
	margin: 0 2px;
	position: relative;
	img{
		position: absolute;
		left: 50%;
		bottom: 50%;
		transform: translate(-50%, 50%);
	}
}
.copyrights {
	text-align: right;
}
.copyrights__title {
	font-size: 18px;
	margin-bottom: 15px;
	margin-right: 39px;
}
.copyrights__link {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid rgba(255,255,255, 0.1);
	@include f700;
	padding: 18px 29px 18px 25px;
	line-height: 12px;
}

.photo-page{
	.header__body{
		height: 305px;
		position: relative;

	}
	.header__body:after,
	.header__body:before {
	  border-bottom: 5vw solid #f8f5f2; 
	  bottom: 0;
	  content: "";
	  position: absolute;
	}
	.header__body:before {
	  border-right: 50vw solid transparent;
	  left: 0;
	}
	.header__body:after {
	  border-left: 50vw solid transparent;
	  right: 0;
	}
}

.ourwork {
	background-color: #f8f5f2;
	padding: 54px 0 88px;
}
.ourwork__rewiews {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ourwork__rewiews-item {
	display: flex;
    flex-direction: column;
	width: 294px;
}
.ourwork__rewiews-img {
	width: 294px;
	height: 294px;
	img{
		width: 100%;
	}
}
.ourwork__rewiews-content {
	min-height: 246px;
	padding: 35px;
	border: 1px solid #eae3dd;	
	height: 100%;
	display: flex;
	flex-direction: column;
}
.ourwork__rewiews-title {
	font-size: 24px;
	color: #000000;
	@include f700;
	margin-bottom: 35px;
}
.ourwork__rewiews-text {
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 63px;
	flex-grow: 1;
}
.ourwork__type {
	display: flex;
	flex-wrap: wrap;
}
.ourwork__type-item {
	margin-bottom: 15px;
	min-width: 85px;
	margin-right: 22px;
	display: flex;
	align-items: center;
	img{
		margin-right: 14px;
	}
		span{
		font-size: 16px;
		text-transform: uppercase;
	}
}
.ourwork__rewiews-item.ourwork__main-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	min-height: 480px;
	height: 480px;
	margin-bottom: 41px;
	.ourwork__rewiews-img{
		width: 50%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.ourwork__rewiews-content{
		width: 50%;
		border: 1px solid #eae3dd;
	}
}


.ourwork__rewiews-favor {
	position: absolute;
}


.price {
	background-color: #353535;
	padding: 77px 0 83px;
}
.price__title {
	font-size: 40px;
	text-transform: uppercase;
	color: #ffffff;
	@include f700;
	margin-bottom: 53px;
}
.price__content {
	display: flex;
	justify-content: space-between;
}
.price__table {
	
	font-size: 20px;
	color: #fff;
}
.price__table-row {
	display: flex;
	border: 1px solid #4a4a4a;
	& + .price__table-row{
		margin-top: -1px;
	}
	& > * {
		padding: 15px 15px 15px 20px;
		border-right: 1px solid #4a4a4a;
	}
	& > :first-child{
		padding-left: 0;
		padding-right: 0;
	}
	& > :last-child{
		border-right: none;
	}

}
.price__table-number {
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
	width: 72px;
}
.price__table-type {
	width: 250px;
}
.price__table-options {
	width: 160px;
}
.price__table-sum {
	width: 151px;
}
.price__clock {
	max-width: 269px;
	width: 100%;
	display: flex;
	justify-content: center;
	border: 1px solid #4a4a4a;
	color: #fff;
	padding-top: 35px;
}
.price__clock-inner{
	text-align: center;
	font-size: 20px;
	img{
		margin-bottom: 20px;
	}
}


.signup {
	background-color: #f8f5f2;
	font-size: 24px;
	color: #000000;
	padding: 63px 0 87px;
}
.signup__form-content {
	input{
		border: 1px solid #e5ddd5;
		padding: 26px;
	}
	margin-bottom: 74px;
}

.signup__form {

}
.signup__form-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.signup__form-text{
	max-width: 295px;
	width: 100%;
}
.signup__form-mail-tel{
	max-width: 462px;
	width: 100%;
}
.signup__form-textarea{
	padding: 26px;
	width: 100%;
	height: 211px;
	resize: none;
	border: 1px solid #e5ddd5;
	&::placeholder{
		color: #000;
	}
}
.signup__form-title {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	span{
		background-color: #f8f5f2;
		position: relative;
		z-index: 999;
		padding: 0 40px;
	}
	&::before{
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		top: 50%;
		background-color: #e5ddd5;
		z-index: 1;
	}
}
.signup__models {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 52px 0 61px;
}
.signup__models-item {
	min-width: 64px;
	text-align: center;
	margin: 0 5px;
}
.signup__btnradio {
	cursor: pointer;
	display: block;
	
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;

	& input[type=radio] {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	& input[type=radio]:checked + .signup__radio-style::before{
		content: '';
		display: block;
		width: 18px;
		height: 18px;
		background-color: #ffffff;
		border: 1px solid #e5ddd5;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	span{
		margin-bottom: 33px;
	}

}
.signup__radio-style {
	position: relative;
	top: 1px;
	width: 52px;
	height: 52px;
	background-color: #ffffff;
	border: 1px solid #e5ddd5;
	border-radius: 50%;
	margin-bottom: 35px;
}
.signup__models-beard {
}
.signup__extras {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 47px;
	padding: 69px 0 85px;
}
.signup__extras-item {

}
.signup__extras-label {
	cursor: pointer;
	display: block;
	position: relative;
	padding-left: 60px;
	height: 36px;
	line-height: 36px;
	& input[type=checkbox] {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	& input[type=checkbox]:checked + .signup__extras-checkbox::before{
		content: '';
		display: block;
		width: 22px;
		height: 16px;
		background-image: url(../images/checkmark.png);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}
.signup__extras-checkbox {
	display: block;
	width: 36px;
	height: 36px;
	border: 1px solid #e5ddd5;
	position: absolute;
	left: 0;
	background: #fff;
}

.signup__form-btn{
	width: 100%;
	background-color: #826550;
	border: none;
	font-size: 24px;
	@include f700;
	text-transform: uppercase;
	color: #ffffff;
	height: 70px;
	line-height: 70px;
	cursor: pointer;
	&:hover{
		background-color: #b38868;
	}
}

// PRODUCTS
.page-title {
	padding: 59px 0;
}

.main-title {
	font-size: 30px;
	@include f700;
	color: #000000;
	margin-bottom: 24px;
}

.bread-curumbs__ul {
	display: flex;
	flex-wrap: wrap;
}
.bread-curumbs__li {
	margin-bottom: 3px;
	text-transform: uppercase;
	font-size: 14px;
	@include f700;
	color: #000000;
	padding-right: 40px;
	position: relative;
	& + .bread-curumbs__li{

	}
	&::before{
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		background-color: #000000;
		position: absolute;
		right: 14px;
		top: 4px;
		transform: rotate(45deg);
	}
	&:last-child{
		color: #aba9a7;
	}
	&:last-child::before{
		display: none;
	}
}

.products {
	padding-bottom: 49px;
}
.products__inner{
	display: flex;
}
.proudcts__filters {
	max-width: 240px;
	width: 100%;
}
.products__filters-form {
}
.proudcts__filters-group {
	width: 180px;
}
.proudcts__filters-title {
	font-size: 24px;
	@include f700;
	margin-bottom: 32px;

	display: block;
}
.proudcts__filters-items {
	padding-bottom: 45px;
}
.proudcts__filters-item {
	min-height: 22px;
	@include f700;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 16px;
	line-height: 18px;
	&:last-child{
		margin-bottom: 0;
	}
	label{
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
	}
}
.proudcts__filters-checkbox input[type=checkbox],
.proudcts__filters-radio input[type=radio]{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.proudcts__filters-checkbox input[type=checkbox]:checked + .proudcts__style-checkbox::before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 12px;
	height: 12px;
	background-image: url(../images/cross.svg);
}
.proudcts__filters-radio input[type=radio]:checked + .proudcts__style-radio::before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	background-color: #000000;
	border-radius: 50%;
}

.proudcts__style-checkbox,
.proudcts__style-radio {
	width: 20px;
	height: 20px;
	background-color: #f9f6f3;
	border: 2px solid #000101;
	display: block;
	position: absolute;
}
.proudcts__style-radio {
	border-radius: 50%;
}
.proudcts__filters-name{
	padding-left: 41px;
}
.proudcts__filters-show{
	font-size: 13px;
	@include f700;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #000;
	border: none;
	padding: 0 30px;
	height: 43px;
	line-height: 43px;
}
.products__main {
	
}
.products__items {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 45px;
}
.products__item {
	width: 220px;
	display: block;
}
.products__item-img {
	width: 100%;
	height: 165px;
	background-image: url(../images/content/product_1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.products__items-text {
	padding: 14px 16px 14px;
	background-color: #fff;
	p,
	span{
	font-size: 14px;
	line-height: 18px;
	@include f700;
	color: #000000;
	display: block;
	}
	span{
		text-transform: uppercase;
		margin-bottom: 15px;
	}
}
.products__items-price {
	display: flex;
	height: 43px;
	line-height: 43px;
	background-color: #e5e5e5;
	width: 190px;
	span{
		margin-bottom: 0;
		line-height: 43px;
		width: 100%;
		text-align: center;
	}
}
.products__items-buy {
	color: #fff;
	background: #000;
	padding: 0 19px;
	margin-left: auto;
}
.pagination {
}
.pagination-list {
	display: flex;
}
.pagination-list__item {
	width: 43px;
	height: 43px;
	background-color: #000;
	text-align: center;
	line-height: 43px;
	a{
		color: #fff;
	}
	& + .pagination-list__item {
		margin-left: 7px;
	}
}
.active {
	background-color: #fff;
	a{
		color: #000;
	}
	
}

//PRICE

.signup__form-title--price{
	margin-bottom: 73px;
	font-size: 48px;
	@include f700;
	line-height: 35px;
	span{
		   background-image: url(../images/bg_image.jpg);
    	background-position: center;
    	background-repeat: repeat;
	}
	&::before{
		content: '';
		background-color: #000;
	}
}

.price-list__content {
	display: flex;
	font-size: 14px;
	line-height: 24px;
	@include f700;
	text-transform: uppercase;
	color: #000000;
	p{
		padding-right: 100px;
	}
	margin-bottom: 50px;
}
.price-list__coll {
	max-width: 50%;
	width: 100%;
}
.price-list__title {
	display: block;
	font-size: 24px;
	line-height: 30px;
	@include f700;
	color: #000000;
	margin-bottom: 31px;

}
.price-list__ul {
	li{
		margin-bottom: 13px;
		padding-left: 21px;
		position: relative;
		&::before{
			content: '';
    		display: block;
   			width: 8px;
    		height: 8px;
    		background-color: #000000;
    		position: absolute;
    		left: 0;
    		top: 7px;
    		transform: rotate(45deg);
		}
	}
}
.price-list__table {
	border-collapse: collapse;
	border: 1px solid black;
}
.price-list__table-type {
	padding: 8px 19px;
	width: 50%;
}
.price-list__table-sum {
	width: 50%;
	text-align: center;
}

//INDEX2
.inex2-main{
	background-color: #070707;
	background-image: url(../images/index2_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding: 60px 65px;
	font-size: 14px;
	line-height: 24px;
	@include f700;
	color: #000000;
}


.logo {
	margin-bottom: 79px;
}
.features {
	display: flex;
	justify-content: space-around;
	margin-bottom: 85px;
}
.features__item {
	color: #f7f4f1;
	max-width: 252px;
	width: 100%;
	text-align: center;
	padding: 0 5px;
}
.features__title {
	font-size: 30px;
	padding-bottom: 45px;
	position: relative;
	margin-bottom: 30px;
	&::before{
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		background-color: #f7f4f1;
		position: absolute;
		bottom: 0;
		right: 50%;
		transform: translateX(50%) rotate(45deg);

	}
}
.features__text {
}
.info-block {
	background-image: url(../images/bg_image.jpg);
	background-repeat: repeat;
	background-position: center top;
	display: flex;
	margin-bottom: 36px;

}
.style-line{
	position: relative;
	&::before{
		content: '';
		display: block;
		width: 8px;
		height: 278px;
		background-image: url(../images/vertical_line.png);
		background-repeat: no-repeat;
		background-position: center top;
		position: absolute;
		right: 0;
		background-color: transparent;
		top: 77px;
	}
}
.info-block__col {
	width: 50%;
	padding: 50px 50px 50px 80px ;
}
.info-block__title {
	font-size: 30px;
	margin-bottom: 33px;
}
.info-block__text {
	margin-bottom: 29px;
}
.info-block__date {
	display: block;
}
.info-block__btn,
.info-block__btn-left,
.info-block__btn-right,
.signup-data__btn{
	transition: all 0.3s;
	border:none;
	cursor: pointer;
	max-width: 140px;
	width: 100%;
	height: 44px;
	line-height: 44px;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	@include f700;
	text-align: center;
	&:hover{
		border-radius: 5px;
		letter-spacing: 1px;
	}
}
.info-block__btn{
	margin-right: 20px;
}
.info-block__slider,
.info-block__slider-wrapper {
	max-width: 300px;
	width: 100%;
}
.info-block__slider-img {
	border: 7px solid #fff;
	
	height: 178px;
	overflow: hidden;
	img{
		transition: all 0.3s;
		width: 100%;
		height: 100%;
		&:hover{
		transform: scale(1.05);
		}
	}
}
.info-block__slider-btn {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}
.signup-data {
	width: 300px;
}
.signup-data__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;

}
.signup-data__cell {
	span{
		display: block;
		margin-bottom: 12px;
	}
}
.signup-data__input {
	padding: 15px 15px 15px 17px;
	width: 140px;
	margin-right: 20px;
	background-color: #f9f6f3;
	border: 2px solid #000101;
	&::placeholder{
		color: #000000;
	}
}
.signup-data__btn {
	margin-top: 20px;
	width: 100%;
}



//PRODUCT-PAGE	
.product-view {
	font-size: 14px;
	line-height: 24px;
	@include f700;
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 49px;
}

.product-view__inner {
	display: flex;
}
.product-view__slider {
	margin-right: 90px;
}
.product-view__slider-item {
	max-width: 460px;
	width: 100%;
	height: 498px;
	margin-bottom: 21px;
	box-shadow: 0px 0px 15px 0px rgba(0,1,1,0.1);
	img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.product-view__slider-items {
}
.product-view__slider-small {
	display: flex;
	justify-content: space-between;
}
.product-view__slider-small-img {
	cursor: pointer;
	width: 140px;
	height: 149px;
	box-shadow: 0px 0px 15px 0px rgba(0,1,1,0.1);

	img{
		width: 100%;
		height: 100%;
		display: block;
	}
}
.product-view__content {
	padding-right: 10px;
}
.product-view__description {
	margin-bottom: 62px;
	p{
		margin-bottom: 35px;
	}
}
.product-view__description-top {
	display: flex;
	justify-content: space-between; 
	margin-bottom: 30px;
	padding-top: 25px;
}
.product-view__instock {
}
.product-view__vendorcode {
	color: #aeaeae;
}
.products__items-price {
}
.products__items-buy {
}
.product-view__list {
}
.product-view__list-title {
	display: block;
	font-size: 24px;
	line-height: 30px;
	@include f700;
	text-transform: uppercase;
	margin-bottom: 27px;

}
.product-view__ul {
}
.product-view__li {
    padding-left: 17px;
    position: relative;
    &:not(:last-child){

    }
    &::before{
	    content: '';
	    display: block;
	    width: 8px;
	    height: 8px;
	    background-color: #000000;
	    position: absolute;
	    left: 0;
	    top: 8px;
	    transform: rotate(45deg);
    }
}
