
.header__line{
	background-color: #000;
}
.nav{
	display: flex;
	justify-content: space-between;
	padding-top: 29px;
	a{
		@include f700;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}
}
.header__nav{
	display: flex;
	& .bottom-line{
		border-bottom: 3px solid #826550;
	}
	& li{
		padding-bottom: 25px;
	}
	& li + li {
		margin-left: 64px;
	}
}
.header__links{
	 transition: color linear 0.3s;
	&:hover{
		color: #826550;
	}
}
.header__login{
	padding-left: 33px;
	position: relative;
	a:hover{
		transition: color linear 0.3s;
		color: #826550;
	}
	&::before{
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		background-image: url(../images/icons/login_icon.png);
		position: absolute;
		left: 0;
		top: 4px;
		opacity: 0.3;
	}
}
.header__body{
	height: 648px;
	background-image: url(../images/main_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 57px;
}
.logo{
	text-align: center;
}


.advantages {
	background-color: #353535;
	// padding-top: 159px;
	padding-bottom: 64px;
	position: relative;
}
.advantages:after,
.advantages:before {
  border-bottom: 5vw solid #f8f5f2; 
  bottom: 0;
  content: "";
  position: absolute;
}
.advantages:before {
  border-right: 50vw solid transparent;
  left: 0;
}
.advantages:after {
  border-left: 50vw solid transparent;
  right: 0;
}

.advantages__inner{
	position: relative;
	padding-top: 159px;
}

.advantages__info {
	width: 100%;
	height: 318px;	
	display: flex;
	position: absolute;
	top: -159px;
}
.advantages__info-content {
	width: 320px;
	background-color: #fff;
	padding-top: 36px;
	padding-left: 40px;
	padding-right: 41px;
}
.advantages__info-title {
	@include f700;
	font-size: 40px;
  line-height: 38px;
  margin-bottom: 48px;
}
.advantages__content {
	font-size: 20px;
	line-height: 27px;
}
.advantages__info-numbers {
	display: flex;
	flex-wrap: wrap;
	width: 640px;
}
.advantages__info-cels {
		width: 50%;
		padding: 22px 0 0 37px;
		span{
			font-size: 18px;
			color: #a2a19f;
		}
		&:nth-child(1){
			background-color: #404040;
		}
		&:nth-child(2){
			background-color: #4e4e4e;
		}
		&:nth-child(3){
			background-color: #353535;
		}
		&:nth-child(4){
			background-color: #404040;
		}
}
.advantages__info-number {
		font-size: 72px;
		color: #fff;
		@include f700;
		span{
			font-size: 40px;
			color: #fff;
			transform: translateY(-21px);
    	display: inline-block;
		}
}

.advantages__items {
	display: flex;
	padding-top: 79px;
	padding-bottom: 44px;
}
.advantages__item {
	max-width: 320px;
	width: 100%;
	text-align: center;
	
}
.advantages__item-img{
	margin-bottom: 26px;
	height: 94px;
}
.advantages__item-title {
	@include f700;
	font-size: 30px;
	line-height: 22px;
	color: #f7f4f1;
	margin-bottom: 20px;
}
.advantages__item-content {
	font-size: 20px;
	line-height: 27px;
	color: #f7f4f1;
	padding: 0 43px;
}

.news {
	background-color: #f8f5f2;
	padding-top: 54px;
	padding-bottom: 46px;
	border-bottom: 1px solid #e5ddd5;
}

.headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}
.headline-text {
	@include f700;
	font-size:40px;
	text-transform: uppercase;
	color: #000000;
	margin-left: 70px;
}
.headline-btn {
	@include f700;
	background-color: transparent;
	height: 50px;
	font-size: 18px;
	font-weight: 700;border: 1px solid #e5ddd5;
	padding: 0 29px;
	cursor: pointer;
}
.news__items {
	display: flex;
}
.news__item {
	display: flex;
	max-width: 320px;
	width: 100%;
	&:hover .news__item-text{
		color: #826550;
		text-decoration: underline;
	}
	&:hover .news__item-date{
		background-color: #826550;
	}
	&:hover .news__item-date::before {
		border-top: 18px solid #826550;
	}
}
.news__item-date {
	padding-top: 9px;
	line-height: 21px;
	@include f700;
	font-size: 30px;
	margin-right: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background-color: #000;
	position: relative;
	margin-bottom: 10px;
	&::before{
		content: '';
		position: absolute;
		bottom: -18px;
    	left: 0;
    	width: 0;
    	height: 0;
    	border-left: 25px solid transparent;
    	border-right: 25px solid transparent;
    	border-top: 18px solid #000;
	}
	& :last-child {
		font-size: 20px ;
		font-size: 16px;
		display: block;
		font-weight: 400;
	}
}

.news__item-text {
	max-width: 210px;
	font-size: 18px;
	line-height: 27px;
	color: #000;	
}

.reviews {
	background-color: #f8f5f2;
	padding: 54px 0 46px;
}
.headline {
}
.headline-text {
}
.headline-btn {
}
.reviews__slider-wrapper{
	position: relative;
	.swiper-button-next,
	.swiper-button-prev{
		width: 50px;
		height: 160px;
		border: 1px solid #e5ddd5;
		position: absolute;
		top: 0;
		cursor: pointer;
	}
	.swiper-button-prev{
		right: 0;
		&::before{
			content: '';
			width: 12px;
			height: 12px;
			background-image: url(../images/right_arrow.png);
			position: absolute;
			left: 50%;
			bottom: 50%;
			transform: translate(-50%, 50%);
		}
	}
	.swiper-button-next{
		left: 0;
		&::before{
			content: '';
			width: 12px;
			height: 12px;
			background-image: url(../images/left_arrow.png);
			position: absolute;
			left: 50%;
			bottom: 50%;
			transform: translate(-50%, 50%);
		}
	}
	.swiper-button-disabled{
		opacity: 0.5;
	}
	.swiper-pagination{
		text-align: center;
		padding-top: 42px;
	}

	.swiper-pagination-bullet{
		display: inline-block;
		transform: rotate(45deg);
		width: 10px;
		height: 10px;
		border: 1px solid #353535;
		margin: 0 23px;
		&-active{
			background-color: #353535;
		}
	}
}
.reviews__slider{
	max-width: 811px;
	
}
.reviews__slider-item {
	display: flex;
	img{
		display: block;
		border: none;
	}
}
.reviews__slider-img {
	width: 249px;
	height: 160px;
}
.reviews__slider-content {
	border: 1px solid #e5ddd5;
	padding: 35px 79px 0 70px;
}
.reviews__slider-title {
	font-size: 24px;
	line-height: 27px;
	@include f700;
	margin-bottom: 10px;
}
.reviews__slider-text {
	font-size: 18px;
	line-height: 27px; 
}

.footer {
	background-color: #292929;
}
.footer__inner {
	padding: 53px 0 61px;
	display: flex;
	color: #fff;
	& > *{
		max-width: 33.333333%;
		width: 100%;
	}
}
.footer__adress {
	h3 {
		font-size: 18px;
		@include f700;
		text-transform: uppercase;
		margin-bottom: 18px;
	}
	p{
		font-size: 18px;
		line-height: 27px;
		max-width: 322px;
	}
}
.social-links {

}
.social-links__text {
	font-size: 18px;
	text-align: center;
	margin-bottom: 15px;
}
.social-links-items {
	text-align: center;
}
.social-links-item {
	width: 50px;
	height: 50px;
	border: 1px solid rgba(255,255,255, 0.1);
	margin: 0 2px;
	position: relative;
	img{
		position: absolute;
		left: 50%;
		bottom: 50%;
		transform: translate(-50%, 50%);
	}
}
.copyrights {
	text-align: right;
}
.copyrights__title {
	font-size: 18px;
	margin-bottom: 15px;
	margin-right: 39px;
}
.copyrights__link {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid rgba(255,255,255, 0.1);
	@include f700;
	padding: 18px 29px 18px 25px;
	line-height: 12px;
}

.photo-page{
	.header__body{
		height: 305px;
		position: relative;

	}
	.header__body:after,
	.header__body:before {
	  border-bottom: 5vw solid #f8f5f2; 
	  bottom: 0;
	  content: "";
	  position: absolute;
	}
	.header__body:before {
	  border-right: 50vw solid transparent;
	  left: 0;
	}
	.header__body:after {
	  border-left: 50vw solid transparent;
	  right: 0;
	}
}

.ourwork {
	background-color: #f8f5f2;
	padding: 54px 0 88px;
}
.ourwork__rewiews {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ourwork__rewiews-item {
	display: flex;
    flex-direction: column;
	width: 294px;
}
.ourwork__rewiews-img {
	width: 294px;
	height: 294px;
	img{
		width: 100%;
	}
}
.ourwork__rewiews-content {
	min-height: 246px;
	padding: 35px;
	border: 1px solid #eae3dd;	
	height: 100%;
	display: flex;
	flex-direction: column;
}
.ourwork__rewiews-title {
	font-size: 24px;
	color: #000000;
	@include f700;
	margin-bottom: 35px;
}
.ourwork__rewiews-text {
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 63px;
	flex-grow: 1;
}
.ourwork__type {
	display: flex;
	flex-wrap: wrap;
}
.ourwork__type-item {
	margin-bottom: 15px;
	min-width: 85px;
	margin-right: 22px;
	display: flex;
	align-items: center;
	img{
		margin-right: 14px;
	}
		span{
		font-size: 16px;
		text-transform: uppercase;
	}
}
.ourwork__rewiews-item.ourwork__main-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	min-height: 480px;
	height: 480px;
	margin-bottom: 41px;
	.ourwork__rewiews-img{
		width: 50%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.ourwork__rewiews-content{
		width: 50%;
		border: 1px solid #eae3dd;
	}
}


.ourwork__rewiews-favor {
	position: absolute;
}


.price {
	background-color: #353535;
	padding: 77px 0 83px;
}
.price__title {
	font-size: 40px;
	text-transform: uppercase;
	color: #ffffff;
	@include f700;
	margin-bottom: 53px;
}
.price__content {
	display: flex;
	justify-content: space-between;
}
.price__table {
	
	font-size: 20px;
	color: #fff;
}
.price__table-row {
	display: flex;
	border: 1px solid #4a4a4a;
	& + .price__table-row{
		margin-top: -1px;
	}
	& > * {
		padding: 15px 15px 15px 20px;
		border-right: 1px solid #4a4a4a;
	}
	& > :first-child{
		padding-left: 0;
		padding-right: 0;
	}
	& > :last-child{
		border-right: none;
	}

}
.price__table-number {
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
	width: 72px;
}
.price__table-type {
	width: 250px;
}
.price__table-options {
	width: 160px;
}
.price__table-sum {
	width: 151px;
}
.price__clock {
	max-width: 269px;
	width: 100%;
	display: flex;
	justify-content: center;
	border: 1px solid #4a4a4a;
	color: #fff;
	padding-top: 35px;
}
.price__clock-inner{
	text-align: center;
	font-size: 20px;
	img{
		margin-bottom: 20px;
	}
}


.signup {
	background-color: #f8f5f2;
	font-size: 24px;
	color: #000000;
	padding: 63px 0 87px;
}
.signup__form-content {
	input{
		border: 1px solid #e5ddd5;
		padding: 26px;
	}
	margin-bottom: 74px;
}

.signup__form {

}
.signup__form-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.signup__form-text{
	max-width: 295px;
	width: 100%;
}
.signup__form-mail-tel{
	max-width: 462px;
	width: 100%;
}
.signup__form-textarea{
	padding: 26px;
	width: 100%;
	height: 211px;
	resize: none;
	border: 1px solid #e5ddd5;
	&::placeholder{
		color: #000;
	}
}
.signup__form-title {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	span{
		background-color: #f8f5f2;
		position: relative;
		z-index: 999;
		padding: 0 40px;
	}
	&::before{
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		top: 50%;
		background-color: #e5ddd5;
		z-index: 1;
	}
}
.signup__models {
	display: flex;
	justify-content: space-around;
}
.signup__models-item {
	width: 52px;
	text-align: center;
}
.signup__btnradio {
	cursor: pointer;
	display: block;
	padding: 52px 0 61px;
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;

	& input[type=radio] {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	& input[type=radio]:checked + .signup__radio-style::before{
		content: '';
		display: block;
		width: 18px;
		height: 18px;
		background-color: #ffffff;
		border: 1px solid #e5ddd5;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	span{
		margin-bottom: 33px;
	}

}
.signup__radio-style {
	position: relative;
	top: 1px;
	width: 52px;
	height: 52px;
	background-color: #ffffff;
	border: 1px solid #e5ddd5;
	border-radius: 50%;
	margin-bottom: 35px;
}
.signup__models-beard {
}
.signup__extras {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 47px;
	padding: 69px 0 85px;
}
.signup__extras-item {

}
.signup__extras-label {
	cursor: pointer;
	display: block;
	position: relative;
	padding-left: 60px;
	height: 36px;
	line-height: 36px;
	& input[type=checkbox] {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	& input[type=checkbox]:checked + .signup__extras-checkbox::before{
		content: '';
		display: block;
		width: 22px;
		height: 16px;
		background-image: url(../images/checkmark.png);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}
.signup__extras-checkbox {
	display: block;
	width: 36px;
	height: 36px;
	border: 1px solid #e5ddd5;
	position: absolute;
	left: 0;
}

.signup__form-btn{
	width: 100%;
	background-color: #826550;
	border: none;
	font-size: 24px;
	@include f700;
	text-transform: uppercase;
	color: #ffffff;
	height: 70px;
	line-height: 70px;
	cursor: pointer;
	&:hover{
		background-color: #b38868;
	}
}