
@media(max-width: 1050px){
	.info-block__col{
		width: auto;
		padding-left: 50px;
	}
}
// 1050
@media(max-width: 1000px){
	.news__items{
		justify-content: space-around;
	}
	.news__item:nth-child(n+3) {
		display: none;
	}
}
// 1000

@media(max-width: 950px){
	.advantages__item-content{
		padding: 0 15px;
	}
	.ourwork__rewiews{
		display: block;
	}
	.ourwork__rewiews-item.ourwork__main-item{}
	.ourwork__rewiews-item.ourwork__main-item .ourwork__rewiews-content{
		width: calc(100% - 270px);
	}
	.ourwork__rewiews-item{
    	flex-direction: row;
   		width: 100%;
   		&:not(:last-child){
   			margin-bottom: 40px;
   		}
	}
	.ourwork__rewiews-img{
   		 height: 294px;
   		 min-width: 270px;
		img{
			width: 100%;
    		height: 100%;
		}
	}
	.ourwork__rewiews-content{
		width: 100%;
		height: auto;
	}
	.info-block__col{
		padding: 40px;
	}
}
// 950

@media(max-width: 920px){
	.reviews__slider-content{
		padding: 25px 20px 20px 20px;
		border: none;
	}
	.reviews__slider-item{
		border: 1px solid #e5ddd5;
	}

	.features__title{
		margin-bottom: 20px;
	}
	.product-view__slider{
		margin-right: 30px;
	}
	.page-title{
		padding: 30px 0;
	}
}
// 920px
@media(max-width: 910px){
	.advantages__inner{
		padding-top: 310px;
	}
	.advantages__info{
		flex-wrap: wrap;
		top: -170px;
	}
	.advantages__info-content{
		width: 100%;
		display: flex;
		padding: 0;
		p{
			width: 50%;
		}
	}

	.advantages__info-title{
		line-height: 43px;
		padding: 36px 70px 0 40px;
	}
	.advantages__content{
		padding: 40px 82px 0 32px;
	}
	.advantages__info-numbers{
		width: 100%;
	}
	.advantages__info-cels{
		padding-bottom: 34px;
	}
}
// 910
@media(max-width: 880px){
	.header__nav{
		justify-content: space-between;
		width: 100%;
		& li+li{
			margin-left: 0;
		}
	}
	.header__login::before{
		left: 12px;
	}
}
// 880

@media(max-width: 850px){
	.price__content{
		display: block;
	}
	.price__clock{
    	max-width: initial;
    	padding: 21px 27px;
    	justify-content: flex-start;
    	margin-top: 10px;
	}
	.price__clock-inner{
    	width: 100%;
    	text-align: center;
    	img{
    		height: 71px;
    		margin-bottom: 0px;
    		float: left;
    	}
	}
	.price__clock-time,
	.price__clock-discount{
		display: inline-block;
    	font-size: 30px;
    	line-height: 71px;
    	text-transform: uppercase;
    	@include f700;
	}
	.price{
		padding-bottom: 56px;
	}
	.features{
		display: block;
	}
	.features__item{
		    max-width: 100%;
    		margin-bottom: 20px;
	}
	.logo{
    	max-width: 300px;
    	margin: 0 auto;
    	margin-bottom: 30px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.info-block{
		display: block;
	}
	.info-block__text{
		margin-bottom: 20px;
		line-height: 20px;
	}
	.info-block__title{
		margin-bottom: 20px;
	}
	.style-line::before{
		top: 27px;
	}
}
// 850

@media(max-width: 800px){
	.reviews__slider-img-inner{
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
	.reviews__slider-img{
	    display: flex;
	    align-items: center;
    	justify-content: center;
    	min-width: initial;
    	max-width: initial;
    	height: auto;
 		margin: 0 30px;
	}
	.reviews__slider-item img{
		border-radius: 50%;
		width: 80px;
		height: 80px;
	}
   .reviews__slider-content{
   	padding-left: 0;
   }
   .product-view__slider-inner{
   	max-width: 400px;
   }
   .product-view__slider-small-img{
		border: 1px solid #efecec;
		box-shadow: none;
	}
}
// 800
@media(max-width: 768px){
	.container{
		padding: 0 64px;
	}
	.advantages__info-title{
		padding-right: 36px;
	}
	.advantages__content{
		padding-right: 65px;
	}
	.header__body{
		height: 441px;
	}
	.advantages__items{
		flex-wrap:wrap;
	}
	.advantages__item{
		display: flex;
		max-width: 100%;
		width: 100%;
		text-align: left;
		&:not(:last-child){
			margin-bottom: 45px;
			border-bottom: 1px solid #494949;
		}
	}
	.advantages__item-content{
		padding: 0;
	}
	.advantages__item-img{
		margin-right: 34px;
		margin-bottom: 45px;
	}
	.footer__inner>*{
		max-width: initial;
		width: initial;
	}
	.advantages__item-inner{
		padding-bottom: 15px;
	}
	.footer__inner{
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.social-links{
		width: 100%;
    	order: 1;
	}
	.social-links-items{
		display: flex;
	}
	.social-links-item{
		width: 33.3333333%;
		margin: 0;
		display: block;
		height: 100px;
		margin-top: 50px;
	}
	.copyrights{
		
	}
	.social-links__text{
		display: none;
	}
	.reviews__slider-wrapper .swiper-pagination{
		padding-top: 15px;
	}
	.reviews {
		padding-top: 45px;
		.headline{
			margin-bottom: 45px;
		}
	}
	.news{
		padding-top: 42px;
		.headline{
			margin-bottom: 45px;

		}
	}
	.headline-text{
		margin-left: 0;
		font-size: 30px;
	}
	.footer__inner{
		padding-bottom: 30px;
	}
	.ourwork{
		.headline{
			margin-bottom: 38px;
		}
		.headline-text{
			margin-left: 0;
		}
	}
	.ourwork__rewiews-item.ourwork__main-item{
		.ourwork__rewiews-img{
			width: 270px;
		}
	}
	.photo-page{
		.header__body{
			height: 213px;
    		padding-top: 40px;
		}
		.logo img{
			height: 100px;
		}
	}
	.signup__form-mail-tel{
		max-width: initial;
		
	}
	.signup__form-row--adaptive{
		display: block;
		& > *:not(:last-child){
			margin-bottom: 35px;
		}
	}
	.signup__extras{
		grid-template-columns: 1fr 1fr;
	}
	.product-view__inner{
		display: block;
	}
	.page-title{
		padding: 20px 0;
	}
	.product-view__slider{
		margin-right: 0;
	}
	.signup__form-title--price{
		padding: 0;
		margin-bottom: 30px;
    	font-size: 30px;
		&::before{
			display: none;
		}
	}
	.price-list__content p{
		padding-right: 20px;
	}
}	
// 768
@media(max-width: 750px){
	.ourwork__rewiews-content{
		padding: 25px 22px 25px;
	}
	.ourwork__rewiews-title{
		margin-bottom: 21px;
	}
	.ourwork__rewiews-title{
		margin-bottom: 10px;
	}

}
// 750
@media(max-width: 720px){
	.advantages__info-content{
		display: block;
	    text-align: center;
	    padding: 30px 38px;
	}
	.advantages__info-title{
		width: auto;
	    padding: 0;
	    margin-bottom: 21px;
	}
	.advantages__content{
		width: auto;
    	padding: 0;
	}
	.advantages__info-numbers{
		display: block;
	}
	.advantages__info-cels{
		padding: 15px;
    	font-size: 40px;
    	display: flex;
    	justify-content: space-between;
    	width: 100%;
	}
	.advantages__info-number{
		font-size: 40px;
	}
	.advantages__info-cels span{
		 max-width: 102px;
    	text-align: right;
	}
	.advantages__info-number span{
		transform: none;
	}
	.advantages__info-content p{
		width: 100%;
	}
	.nav--switcher{
		display: none;
	}
	.mobile-nav{
		display: block;
		position: relative;
		padding-top: 0;
	}
	.mobile-nav__sublist{
		display: none;
		text-align: center;
	    overflow: hidden;
	    transition: all 0.5s;
	    position: absolute;
	    width: 100%;
	    background: #826550;
	    display: block;
	    z-index: 5;
		transform: translateY(-100%); 

		li{
			padding: 15px;
			border-top: 1px solid rgba(140, 140, 140, 0.2);
			border-bottom: 1px solid rgba(140, 140, 140, 0.2);
		}
	}
	.mobile-nav__btn{
		cursor: pointer;
		position: absolute;
		right: 0;
		height: 100%;
    	top: 0;
		width: 70px;
		height: 100%;	
		background-color: #6a4d38;
		display: flex;
		justify-content: center;
	}
	.mobile-nav__btn-inner{
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		div{
			width: 36px;
			height: 3px;
			background-color: #fff;
			
		}
		div:not(:last-child){
			margin-bottom: 6px;
		}
	}
	.mobile-nav .header__nav{
		flex-direction: column;
    	align-items: center;
    	position: relative;
    	z-index: 999999;
    	background: #826550;
    	li{
    		position: relative;
    		width: 100%;
    		text-align: center;
    	}
	}
	.header__line{
		background-color: #826550;
	}
	.header__links:hover{
		color: #fff;
	}
	.header__nav li{
		padding-bottom: 0;
		padding: 15px;

	}
	.news__items{
		display: block;
		max-width: initial;
	}
	.news__item-date{
		min-width: 50px;
	}
	.news__item{
		margin-bottom: 23px;
	}
	.news__item,
	.news__item-text{
		max-width: 100%;
	}
	.news{

		.headline{
		display: block;
		}
		.headline-text{
			font-size: 30px;
			margin-bottom: 35px;
		}
	}
	.social-links-item{
		margin-top: 26px;
	}
	.reviews{
		.headline-btn{
			display: none;
		}
		.headline-text{
			font-size: 30px;
			margin-bottom: 35px;
			margin-bottom: 0;
		}
		.headline{
			margin-bottom: 35px;
		}
	}
	.ourwork__rewiews-text{
		margin-bottom: 0;
	}
	.signup__form-row{
		display: block;
		& > * {
			max-width: initial;
		}
		& > *:not(:last-child){
			margin-bottom: 35px;
		}
	}
	.price-list__content{
		display: block;
	}
	.price-list__coll{
		max-width: initial;
	}
	.price-list__title{
		font-size: 20px;
		margin-bottom: 10px;
	}
	.price-list__content p{
		margin-bottom: 15px;
	}
}
// 720
@media(max-width: 670px){
	.price{
		padding: 35px 0 30px;
	}
	.price__title{
		margin-bottom: 20px;
    	font-size: 30px;
	}
	.price__table-number{
		display: none;
	}
	.price__clock-time,
	.price__clock-discount{
		font-size: 20px;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 400;
	}
}
@media(max-width: 650px){
	.ourwork__rewiews-item.ourwork__main-item,
	.ourwork__rewiews-item{
		display: block;
    	height: auto;
    	max-width: 280px;
    	margin: 0 auto;
    	margin-bottom: 30px;
	}
	.ourwork__rewiews-item.ourwork__main-item .ourwork__rewiews-img{
		width: 100%;
    	height: 480px;
    	img{
    		display: block;
    	}
	}
	.ourwork__rewiews-item.ourwork__main-item .ourwork__rewiews-content{
		width: auto;
    	padding-bottom: 5px;
    	width: 100%;
	}
	.ourwork__rewiews-text{
		margin-bottom: 15px;
	}
	.ourwork__rewiews-img{
		height: 176px;
    	width: 100%;
    	img{
    		object-fit: cover;
    	}
	}
	.ourwork__rewiews-item:not(:last-child){
		margin-bottom: 30px;
	}
	.ourwork{
		padding-bottom: 34px;
	}
	.ourwork__rewiews-content{
		min-height: 190px;
	}
	.signup{
		padding: 23px 0 39px;
	}
	.headline{
		margin-bottom: 23px;
	}
	.headline-text{
		margin: auto;
	}
	.headline-btn{
		display: none;
	}
	.signup__form-row>*:not(:last-child){
		margin-bottom: 6px;
	}
	.signup__form-row > *{
		height: 50px;
	}
	.signup__extras{
		grid-row-gap: 28px;
		padding: 38px 47px;
		grid-template-columns: 1fr;
	}
	.signup__extras-label{
		font-size: 18px;
	}
	.signup__form-title::before{
		display: none;
		padding: 0;
	}
	.signup__form-title span{
		padding: 0;
	}
	.inex2-main{
		padding: 50px 0;
	}
}
// 650

@media(max-width: 610px){
	.reviews{
		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}
	.reviews__slider-inner{
		padding: 0;
	}
	.signup__models{
		justify-content: start;
	}
	.info-block__col{
		padding-bottom: 20px;
		padding-top: 30px;
	}
}
// 610

@media(max-width: 550px){
	.price__table-row {
		border:none;
		margin-bottom: 15px;
	}
	.price__table-row > *{
		padding: 0;
		border: none;
	}
	.price__table-type{
		order: -2;
		width: auto;
	}
	.price__table-sum{
		order: -1;
    	margin-left: auto;
    	text-align: right;
    	width: auto;
    	color: #e7e7e7;
	}
	.price__table-row{
		flex-wrap: wrap;
	}
	.price__table-options{
		width: 100%;
	    color: #e7e7e7;
	}
	.price__clock{
		padding: 11px 11px;
	}
	.signup__extras{
		padding: 38px 0;
	}
}
// 550

@media(max-width: 520px){
	.advantages__item{
		display: block;
		text-align: center;
	}
	.advantages__item-img{
		margin: 0;
		margin-bottom: 30px;
	}
	.container{
		padding: 0 15px;
	}
	.footer__adress{
		text-align: center;
	}
	.copyrights{
		order: 1;
    	width: 100%;
    	text-align: center;
	}
	.copyrights__title{
		margin-right: 0;
    	margin-top: 35px;
	}
	.footer__adress{
		text-align: center;
	}
	.footer__inner{
		justify-content: center;
	}
	.ourwork{
		.headline-btn{
			display: none;
		}
	}
	.product-view__slider-item{
		height: 400px;
	}
}
// 520
@media(max-width: 500px){
	.inex2-main{
		.container{
			padding: 0;
		}
	}
	.inex2-main{
		padding: 30px 0;
	}
}
// 500
@media(max-width: 420px){
	.advantages__info{
		position: initial;
		height: auto;
	}
	.header__body{
		display: none;
	}
	.advantages__inner{
		padding: 0;
	}
	.advantages,
	.header__line {
		.container {
			padding: 0;
		}
	}
	.advantages__items{
		padding: 30px 15px;
	}
	.reviews__slider-img{
		 margin: 0 19px;
    	display: block;
   		margin-top: 10px;
	}
	.reviews__slider-item img{
		    width: 50px;
    height: 50px;
    border-radius: initial;
	}
	.reviews__slider-content{
		    padding: 0;
    min-height: 100px;
	}
	.reviews__slider-wrapper .swiper-pagination{
		padding-top: 20px;
	}
	.reviews__slider-item{
		border: none;
	}
	.price__clock-time{
		display: block;
    	line-height: 19px;
    	margin-top: 14px;
	}
	.price__clock-discount{
		line-height: 19px;
	}
	.ourwork{
		padding-top: 23px;
		.headline{
			margin-bottom: 23px;
		    justify-content: center;
		}
		.headline-text{
			font-size: 30px;
		}
	}
	.signup__form-title{
		font-size: 23px;
	}
	.signup__btnradio span,
	.signup__form-btn{
		font-size: 18px;
	}
	.signup__models{
		padding-top: 40px;
	}
	.signup__form-content{
		margin-bottom: 42px;
	}
	.signup__form-content{
		font-size: 18px;
		& input,
		& textarea{
			padding: 18px;
		}
	}
	.info-block__col{
		padding-left: 15px;
		padding-right: 15px;
	}
	.info-block__slider-btn > *:not(:last-child){
		margin-right: 10px;
	}
	.product-view__slider-small-img{
		height: 120px;
		width: 100px;
		border: 1px solid #efecec;
		box-shadow: none;
	}
}
// 420
